@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

body {
  font-family: 'Micro 5', cursive;
  font-size: 150%;

  /*coding photo from istock*/
  background: url(https://media.istockphoto.com/id/1386341272/photo/abstract-modern-tech-of-programming-code-screen-developer.jpg?s=612x612&w=0&k=20&c=16FJUoZ6j-XmBDF0g-llzkJaIsdpf6uz46D4eQfL_LM=) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;

  color: #288f56;
  
  text-align: center;
  margin: auto;
}

zero-md {
  font-family: 'Micro 5', cursive;
  font-size: 150%;

  color: #288f56;
}

#smugMessage {
  color: rgba(255, 255, 255, 0.66);

  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
}

/*--------------------------------------------------------*/

div, blockquote, ol, ul {
  display: block;
  margin: 30px auto;

  padding: 12px;
  border-radius: 6px;
  box-shadow: 0px 10px #288f56;

  background-color: #b0e081;

  width: 80%;
  max-width: 800px;

  align-items: center;
}

.pretty, ol, ul {
  background-color: #ea545e59;
}

button, select, option {
  padding: 12px;
  border: none;
  box-shadow: 5px 5px #288f56;

  background-color: #ea545e;
}

button:hover, select:hover, option:hover {
  border: 2px solid #ffffff;
}

button:active {
  transform: translateY(2px);
}

/* messages.html ----------------------------------------- */

#messagesOutput {
  display: none;
}