@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

body {
  font-family: 'Micro 5', cursive;
  font-size: 150%;
  color: aliceblue;
}

.container {
  margin: 5px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5c5c80;
  padding: 5px;
  border-radius: 6px;
}
