@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

body {
  font-family: 'Micro 5', cursive;
  font-size: 150%;

  background-image: url(https://media.istockphoto.com/id/1386341272/photo/abstract-modern-tech-of-programming-code-screen-developer.jpg?s=612x612&w=0&k=20&c=16FJUoZ6j-XmBDF0g-llzkJaIsdpf6uz46D4eQfL_LM=);
  /*coding photo from istock*/
  background-size: cover;
  margin: 0;
  padding: 0;

  color: aliceblue;
}

.smugMessage {
  color: grey;
  font-family: 'Courier New', Courier, monospace;
}

/*--------------------------------------------------------*/

div {
  display: block;
  margin: 20px auto;

  padding: 5px;
  border-radius: 6px;

  background-color: #5c5c80;

  width: 80%;
  max-width: 800px;

  align-items: center;
}
